<div class="main">
  <h1>Hi, I'm Tess.</h1>
</div>

<div class="section">
  <div class="left content">
    <ul>
      <li>Location: Chicago, IL</li>
      <li>Temperature: <%= @current_temperature %>&degF. Right now there's <%= @current_condition %>!</li>

      <li>Most recent tweet: <%= @last_tweet %></li>
      <li>Last song played: <%= @last_song %></li>
    </ul>
  </div>

  <div class="right content" style="background-image: url(<%= @last_gram_image %>)">
  </div>
</div>

